.btn {
  padding: 0.5em 1.75em;
  border-radius: var(--border-radius);
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.2s linear;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--primary {
  color: var(--btn-primary-text-color);
  background-color: var(--btn-primary-bg-color);
}

.btn--primary:hover, .btn--primary:focus {
  background-color: var(--btn-primary-bg-color-hover);
  color: var(--btn-primary-text-color);
}

.btn--secondary {
  color: var(--text-primary-light);
  background-color: var(--accent-green);
}

.btn--secondary:hover, .btn--secondary:focus {
  background-color: var(--accent-green-light);
}

.btn--lg {
  font-size: 1.2rem;
}
@media (min-width: 600px) {
  .btn--lg {
    font-size: 1.4rem;
  }
}

.btn--full-width {
  width: 100%;
}

.dash-btn {
  border-radius: 100%;
  border: 0;
  background-color: var(--dash-btn-bg);
  cursor: pointer;
  line-height: 0;
  padding: 8px;
  transition: background-color 0.2s linear;
}

.dash-btn:hover, .dash-btn:focus {
  background-color: var(--dash-btn-bg-hover);
}

.dash-btn__plus {
  width: 15px;
  height: 15px;
}

.projects__list-item-btn {
  border: 0;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  cursor: pointer;
}
.projects__list-item-btn:hover, .projects__list-item-btn:focus {
  outline: none;
}
.projects__list-item-btn:hover > img, .projects__list-item-btn:focus > img {
  transform: scale(1.1);
}
.projects__list-item-btn:active > img {
  transform: scale(1.2);
}
.projects__list-item-btn > img {
  transition: transform 0.1s linear;
  width: 20px;
  height: 20px;
}