<div class="list">
  <header class="list__header">
    <h2 class="list__heading">My Projects</h2>
    <button class="dash-btn"
            aria-label="Add Project">
      <svg width="26"
           height="26"
           viewBox="0 0 26 26"
           fill="none"
           xmlns="http://www.w3.org/2000/svg"
           class="dash-btn__plus">
        <line x1="13"
              y1="4.37114e-08"
              x2="13"
              y2="26"
              stroke="#44AB96"
              stroke-width="2" />
        <line x1="26"
              y1="13"
              x2="-8.74228e-08"
              y2="13"
              stroke="#44AB96"
              stroke-width="2" />
      </svg>
    </button>
  </header>
  <ul array
      key="projects"
      class="list__list"
      sortable>
    {{#for project in projects}}
    <li object
        key:list-name="@search"
        key:list-color="@search"
        class="list-item">
      <div class="list-item__line-container"
           tabindex="0">
        <label target:list-name="@innerText"
               target:list-color="@attr:data-color-id"
               class="list-item__label list-item__label--color-id"
               data-color-id="{{ project.listColor }}">
          {{ project.listName }}
        </label>
        <div class="list-item__btns-container">
          <button class="list-item__btn"
                  aria-label="Rename Project">
            <img src="/assets/images/pencil-fill.svg"
                 alt="">
          </button>
          <button class="list-item__btn"
                  aria-label="Move Project">
            <img src="/assets/images/move.svg"
                 alt="">
          </button>
          <button class="list-item__btn"
                  aria-label="Delete Project">
            <img src="/assets/images/trash.svg"
                 alt="">
          </button>
        </div>
      </div>
    </li>
    {{/for}}
  </ul>
</div>