<div class="list">
  <button class="btn btn--secondary view-projects-btn">
    <svg width="1em"
         height="1em"
         viewBox="0 0 16 16"
         class="bi bi-caret-left-fill"
         fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
      <path
            d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
    </svg>
    Projects
  </button>
  <header class="list__header">
    <h2 class="list__heading">Put together family cookbook</h2>
    <button class="dash-btn"
            aria-label="Add Task Item">
      <svg width="26"
           height="26"
           viewBox="0 0 26 26"
           fill="none"
           xmlns="http://www.w3.org/2000/svg"
           class="dash-btn__plus">
        <line x1="13"
              y1="4.37114e-08"
              x2="13"
              y2="26"
              stroke="#44AB96"
              stroke-width="2" />
        <line x1="26"
              y1="13"
              x2="-8.74228e-08"
              y2="13"
              stroke="#44AB96"
              stroke-width="2" />
      </svg>
    </button>
  </header>
  <ul class="list__list">
    <li class="list-item">
      <div class="list-item__line-container list-item__line-container--theme-blue list-item__line-container--dashed-border"
           tabindex="0">
        <label class="checkbox list-item__label">
          <span class="checkbox__input">
            <input type="checkbox">
            <span class="checkbox__control">
              <svg width="1em"
                   height="1em"
                   viewBox="0 0 16 16"
                   class="bi bi-check"
                   fill="currentColor"
                   aria-hidden="true"
                   focusable="false"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      fill="currentColor"
                      d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
              </svg>
            </span>
          </span>
          <span class="checkbox__label">
            Get Supplies
          </span>
        </label>
        <div class="list-item__btns-container">
          <button class="list-item__btn"
                  aria-label="Add sub-item">
            <img src="/assets/images/nested-list.svg"
                 alt="">
          </button>
          <button class="list-item__btn"
                  aria-label="Move Project">
            <img src="/assets/images/move.svg"
                 alt="">
          </button>
          <button class="list-item__btn"
                  aria-label="Delete Project">
            <img src="/assets/images/trash.svg"
                 alt="">
          </button>
          <button class="list-item__btn list-item__btn--small list-item__chevron"
                  aria-label="Open Sub-list">
            <img src="/assets/images/chevron-up.svg"
                 alt="">
          </button>
        </div>
      </div>
    </li>
    <li class="list-item">
      <div class="list-item__line-container list-item__line-container--theme-blue list-item__line-container--dashed-border"
           tabindex="0">
        <label class="checkbox list-item__label">
          <span class="checkbox__input">
            <input type="checkbox">
            <span class="checkbox__control">
              <svg width="1em"
                   height="1em"
                   viewBox="0 0 16 16"
                   class="bi bi-check"
                   fill="currentColor"
                   aria-hidden="true"
                   focusable="false"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      fill="currentColor"
                      d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
              </svg>
            </span>
          </span>
          <span class="checkbox__label checkbox__label--checked">
            Sketch layout on paper
          </span>
        </label>
        <div class="list-item__btns-container">
          <button class="list-item__btn"
                  aria-label="Add sub-list item">
            <img src="/assets/images/nested-list.svg"
                 alt="">
          </button>
          <button class="list-item__btn"
                  aria-label="Move Project">
            <img src="/assets/images/move.svg"
                 alt="">
          </button>
          <button class="list-item__btn"
                  aria-label="Delete Project">
            <img src="/assets/images/trash.svg"
                 alt="">
          </button>
          <button class="list-item__btn list-item__btn--small list-item__chevron"
                  aria-label="Open Sub-list">
            <img src="/assets/images/chevron-up.svg"
                 alt="">
          </button>
        </div>
      </div>
    </li>
    <li class="list-item list-item--has-sublist list-item--sublist-open">
      <div
           class="list-item__line-container list-item__line-container--theme-blue list-item__line-container--dashed-border">
        <label class="checkbox list-item__label">
          <span class="checkbox__input">
            <input type="checkbox">
            <span class="checkbox__control">
              <svg width="1em"
                   height="1em"
                   viewBox="0 0 16 16"
                   class="bi bi-check"
                   fill="currentColor"
                   aria-hidden="true"
                   focusable="false"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      fill="currentColor"
                      d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
              </svg>
            </span>
          </span>
          <span class="checkbox__label">
            Call family members for recipes
          </span>
        </label>
        <div class="list-item__btns-container">
          <button class="list-item__btn"
                  aria-label="Add sub-list item">
            <img src="/assets/images/nested-list.svg"
                 alt="">
          </button>
          <button class="list-item__btn"
                  aria-label="Move Project">
            <img src="/assets/images/move.svg"
                 alt="">
          </button>
          <button class="list-item__btn"
                  aria-label="Delete Project">
            <img src="/assets/images/trash.svg"
                 alt="">
          </button>
          <button class="list-item__btn list-item__btn--small list-item__chevron"
                  aria-label="Open Sub-list">
            <img src="/assets/images/chevron-up.svg"
                 alt="">
          </button>
        </div>
      </div>
      <ul class="list-item__sublist">
        <li class="list-item list-item__nested-item list-item--theme-blue">
          <div class="list-item__line-container list-item__line-container--theme-blue list-item__line-container--dashed-border list-item__nested-line-container"
               tabindex="0">
            <label class="checkbox list-item__label">
              <span class="checkbox__input">
                <input type="checkbox">
                <span class="checkbox__control">
                  <svg width="1em"
                       height="1em"
                       viewBox="0 0 16 16"
                       class="bi bi-check"
                       fill="currentColor"
                       aria-hidden="true"
                       focusable="false"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          fill="currentColor"
                          d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                  </svg>
                </span>
              </span>
              <span class="checkbox__label">
                Grandma's chocolate chip cookies
              </span>
            </label>
            <div class="list-item__btns-container">
              <button class="list-item__btn"
                      aria-label="Move Project">
                <img src="/assets/images/move.svg"
                     alt="">
              </button>
              <button class="list-item__btn"
                      aria-label="Delete Project">
                <img src="/assets/images/trash.svg"
                     alt="">
              </button>
              <button class="list-item__btn list-item__btn--small list-item__chevron"
                      aria-label="Open Sub-list">
                <img src="/assets/images/chevron-up.svg"
                     alt="">
              </button>
            </div>
          </div>
        </li>
        <li class="list-item list-item__nested-item list-item--theme-blue">
          <div class="list-item__line-container list-item__line-container--theme-blue list-item__line-container--dashed-border list-item__nested-line-container"
               tabindex="0">
            <label class="checkbox list-item__label">
              <span class="checkbox__input">
                <input type="checkbox">
                <span class="checkbox__control">
                  <svg width="1em"
                       height="1em"
                       viewBox="0 0 16 16"
                       class="bi bi-check"
                       fill="currentColor"
                       aria-hidden="true"
                       focusable="false"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          fill="currentColor"
                          d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                  </svg>
                </span>
              </span>
              <span class="checkbox__label">
                Dad's chili
              </span>
            </label>
            <div class="list-item__btns-container">
              <button class="list-item__btn"
                      aria-label="Move Project">
                <img src="/assets/images/move.svg"
                     alt="">
              </button>
              <button class="list-item__btn"
                      aria-label="Delete Project">
                <img src="/assets/images/trash.svg"
                     alt="">
              </button>
              <button class="list-item__btn list-item__btn--small list-item__chevron"
                      aria-label="Open Sub-list">
                <img src="/assets/images/chevron-up.svg"
                     alt="">
              </button>
            </div>
          </div>
        </li>
        <li class="list-item list-item__nested-item list-item--theme-blue">
          <div class="list-item__line-container list-item__line-container--theme-blue list-item__line-container--dashed-border list-item__nested-line-container"
               tabindex="0">
            <label class="checkbox list-item__label">
              <span class="checkbox__input">
                <input type="checkbox">
                <span class="checkbox__control">
                  <svg width="1em"
                       height="1em"
                       viewBox="0 0 16 16"
                       class="bi bi-check"
                       fill="currentColor"
                       aria-hidden="true"
                       focusable="false"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          fill="currentColor"
                          d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                  </svg>
                </span>
              </span>
              <span class="checkbox__label checkbox__label--checked">
                Mom's mac and cheese
              </span>
            </label>
            <div class="list-item__btns-container">
              <button class="list-item__btn"
                      aria-label="Move Project">
                <img src="/assets/images/move.svg"
                     alt="">
              </button>
              <button class="list-item__btn"
                      aria-label="Delete Project">
                <img src="/assets/images/trash.svg"
                     alt="">
              </button>
              <button class="list-item__btn list-item__btn--small list-item__chevron"
                      aria-label="Open Sub-list">
                <img src="/assets/images/chevron-up.svg"
                     alt="">
              </button>
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li class="list-item list-item--has-sublist">
      <div class="list-item__line-container list-item__line-container--theme-blue list-item__line-container--dashed-border"
           tabindex="0">
        <label class="checkbox list-item__label">
          <span class="checkbox__input">
            <input type="checkbox">
            <span class="checkbox__control">
              <svg width="1em"
                   height="1em"
                   viewBox="0 0 16 16"
                   class="bi bi-check"
                   fill="currentColor"
                   aria-hidden="true"
                   focusable="false"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      fill="currentColor"
                      d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
              </svg>
            </span>
          </span>
          <span class="checkbox__label checkbox__label--checked">
            Format recipes
          </span>
        </label>
        <div class="list-item__btns-container">
          <button class="list-item__btn"
                  aria-label="Add sub-list item">
            <img src="/assets/images/nested-list.svg"
                 alt="">
          </button>
          <button class="list-item__btn"
                  aria-label="Move project">
            <img src="/assets/images/move.svg"
                 alt="">
          </button>
          <button class="list-item__btn"
                  aria-label="Delete project">
            <img src="/assets/images/trash.svg"
                 alt="">
          </button>
          <button class="list-item__btn list-item__btn--small list-item__chevron"
                  aria-label="Open sub-list">
            <img src="/assets/images/chevron-up.svg"
                 alt="">
          </button>
        </div>
      </div>
    </li>
  </ul>

</div>