<div object
     key:tab="{{ this.tab }}"
     class="dashboard">
  <section class="projects-col">
    {{> project-list }}
  </section>
  <section class="tasks-col">
    {{> task-list }}
  </section>
</div>