<div class="accounts">
  <form class="accounts__form"
        action="/user/forgot"
        method="post">
    <h3 class="accounts__heading">Forgot Password</h3>
    {{> flash }}
    <div class="text-field">
      <label class="text-field__label"
             for="username">Username</label>
      <input class="text-field__input"
             type="text"
             name="username"
             autocomplete="username"
             id="username"
             required>
    </div>
    <button class="btn btn--secondary btn--full-width accounts__submit"
            type="submit">Send reset link</button>
  </form>
</div>