<div class="accounts">
  <form class="accounts__form"
        action="/user/login"
        method="post">
    <h3 class="accounts__heading">Log in</h3>
    {{> flash }}
    <div class="text-field">
      <label class="text-field__label"
             for="username">Username</label>
      <input class="text-field__input"
             type="text"
             name="username"
             id="username"
             autocomplete="username"
             required>
    </div>
    <div class="text-field">
      <label class="text-field__label"
             for="password">Password</label>
      <input class="text-field__input"
             type="password"
             name="password"
             id="password"
             autocomplete="current-password"
             required>
    </div>
    <button class="btn btn--secondary btn--full-width accounts__submit"
            type="submit">Log
      in</button>
    <div class="accounts__forgot-link-container">
      <a class="accounts__forgot-link"
         href="/user/forgot">Forgot your
        password?</a>
    </div>
  </form>
</div>