<div class="accounts">
  <form class="accounts__form"
        action=""
        method="post">
    <h3 class="accounts__heading">Set a New Password</h3>
    {{> flash }}
    <div class="text-field">
      <label class="text-field__label"
             for="password">New Password</label>
      <input class="text-field__input"
             type="password"
             name="password"
             id="password"
             autocomplete="new-password"
             required>
    </div>
    <button class="btn btn--secondary btn--full-width accounts__submit"
            type="submit">Set Password</button>
  </form>
</div>