.btn
  padding: .5em 1.75em
  border-radius: $border-radius
  font-size: 1rem
  text-decoration: none
  transition: background-color .2s linear
  cursor: pointer
  border: 0
  display: flex
  align-items: center
  justify-content: center

.btn--primary
  color: $btn-primary-text-color
  background-color: $btn-primary-bg-color

.btn--primary:hover, .btn--primary:focus
  background-color: $btn-primary-bg-color-hover
  color: $btn-primary-text-color

.btn--secondary
  color: $text-primary-light
  background-color: $accent-green

.btn--secondary:hover, .btn--secondary:focus
  background-color: $accent-green-light

.btn--lg
  font-size: 1.2rem

  @include for-tablet-portrait-up
    font-size: 1.4rem

.btn--full-width
  width: 100%

.dash-btn
  border-radius: 100%
  border: 0
  background-color: $dash-btn-bg
  cursor: pointer
  line-height: 0
  padding: 8px
  transition: background-color .2s linear

.dash-btn:hover, .dash-btn:focus
  background-color: $dash-btn-bg-hover

.dash-btn__plus
  width: 15px
  height: 15px

.projects__list-item-btn
  border: 0
  background: none
  display: flex
  align-items: center
  justify-content: center
  padding: 0 5px
  cursor: pointer

  &:hover, &:focus
    outline: none

    & > img
      transform: scale(1.1)

  &:active
    & > img
      transform: scale(1.2)

  & > img
    transition: transform .1s linear
    width: 20px
    height: 20px
